body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.footer {
    background-color: #80b62a;
    height: 75px;
    border-radius: 10px 10px 0px 0px;
}

.facebook-logo {
    height: 50px;
    padding: 10px;
}

h1 {
    font-size: 20px;
    color: #ffffff;
    padding-left: 78%;
    line-height: 75px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.inline {
    display: inline;
}